.LandingPage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* background: #E4ECFA; */
    background-image: url("../../media/fondo1.jpg");
    
}
/* .boton{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;

    padding: 16px 32px;
    color: #fff;
    font-family: 'Roboto', Arial;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1;
    border-radius: 24px;

    background-image: linear-gradient(45deg, #f5642a 0%, #ee8f14 55%, #f56e20 90%);
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #3f3709;

    transition: all 1.5s ease;
} */

.boton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    
    border: none;
    background: #ef233c;
    box-shadow: 0 5px #d90429;
  }
  .boton:hover {
    box-shadow: 0 3px #d90429;
    top: 5px;
  }
  .boton:active {
    box-shadow: 0 0 #d90429;
    top: 5px;
  }